header
    nav.navbar
    #hamburger-menu.hamburger-menu
        .bar
        .bar
        .bar
    ul#nav-links.nav-links
        li
            a(href='/') Home
        li
            a(href='/login') LogIn
        li
            a(href='/register') Register
script(src="/js/script.js")