header
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/login" class="viewButton") Log In
            li
                a(href="/register" class="viewButton") Register
            li  
                a(href="/" class="btnCerrarSesion hide-buttons ") Log Out
            li  
                a(href="/favorites" class="hide-buttons") Favorites
            li  
                a(href="/dashboard" class="hide-buttons") DashBoard
            li  
                a(href="/users" class="hide-buttons") Users
            li  
                a(href="/profile" class="hide-buttons") Profile
