header
    nav
        ul
            li
                a(href="/") Home
            li
                a(href="/login") Log In
            li
                a(href="/register") Register
            li  
                a(href="/" class="btnCerrarSesion") Log Out
            li  
                a(href="/favorites") Favorites
            li  
                a(href="/dashboard") DashBoard
            li  
                a(href="/users") Users
            li  
                a(href="/profile") Profile