doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=form, initial-scale=1.0")
    title Document
  body
    form#form-recuperarcontrasena(action="#", method="POST")
      label(for="email")
      input#email.email(type="text")
      button(type="submit") Recuperar contraseña