doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title Registro
  body
    include header.pug
    main.form-container
      h1 Crea tu cuenta
      form#register-form(action="/api/users", method="POST")
        label(for="first_name") Nombre
        input(type="text", name="first_name", id="first_name", placeholder="Nombre", required)
        label(for="last_name") Apellido
        input(type="text", name="last_name", id="last_name", placeholder="Apellido", required)
        label(for="email") Email
        input#email(type="email", name="email", placeholder="Email", required)
        label(for="password") Contraseña
        input#password(type="password", name="password_hash", placeholder="Contraseña", required)
        button(type="submit") Registrarse
        p.error.hidden Error al registrarse
      p ¿Ya estás registrado? - 
        a(href="/login") Iniciar sesión
    script(src="/js/register.js")
    script(src="/js/script.js")
    include footer.pug