doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registro
    link(rel="stylesheet", href="/css/style.css")
  body
    include header.pug
    main
      h1 Crea tu cuenta
      form#register-form(action="#", method="POST")
        label(for="first_name")
        input(type="text", name="first_name", id="first_name", placeholder="Nombre")
        label(for="last_name")
        input(type="text", name="last_name", id="last_name", placeholder="Apellido")
        label(for="email")
        input#email(type="email", name="email", placeholder="Email")
        label(for="password")
        input#password(type="password", name="password", placeholder="Contraseña")
        button(type="submit") Iniciar sesión
        p.error.hidden Error al registrarse
      p ¿Ya estas registrado? -
        a(href="/login") Iniciar sesión
    script(src="/js/register.js")
    script(src="/js/script.js")
    include footer.pug